<h2>List of books</h2>

<form>
  {{input id="title" value=newBook.title}}
  {{input id="author" value=newBook.author}}
  <button {{action "save"}} id="save">Save</button>
</form>


<ul id="books">
  {{#each}}
  <li>{{title}} - {{author}}</li>
  {{else}}
  <li class="alert-info">No books yet</li>
  {{/each}}
</ul>
